body {
  /* background-color: rgb(232, 242, 243); */
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Sg6PeOJlp1Z8vQq13he62wHaEK%26pid%3DApi&f=1&ipt=7513be36a478d928a32a78dcf0854f73fd2e6d125d117aa5c04719c3786b060b&ipo=images');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#head {
  color: rgb(25, 0, 255);
  /* background-color: rgb(243, 233, 233); */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 40px;
  text-align: center;

}

#title {

  color: white;

}

#todo {
  width: 320px;
  padding: 10px;
  margin-top: 400px;
  margin-left: 750px;
}

#footer {
  
  color: red;
  background-color: rgb(228, 236, 236);
  text-align: center;
  border: 5px solid gray;
}

li {

  color: rgb(0, 0, 0);
  padding: 5mm;
  text-align: center;
  /* border: 1px solid rgb(116, 112, 112); */
  box-shadow: 8px 8px 5px #444;
  
}

ul {

  width: 250px;
  padding: 10px;
  /* border: 5px solid rgb(175, 171, 171); */
  margin: 0;
  /* background-color: black; */
}

#delete {

  color: blue;

}
