
.background {
    
    padding: 10px;
    height:100px;
    }
.float-child {
    height: 100%;
    width: 50%;
    float: left;
    padding: 5px;
    
}  

.title{
    text-align:center;
    
} 
.description_title{
    margin-left: 20px;
    background-color:gray;
}
.descritpion{
    margin-left: 10px;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    }
